@import "../../../../assets/scss/constants.scss";

.button-container {
    width: 100%;
    margin-top: 16px;
    text-align: center;


    &__button--lightblue {
        width: 200px;
        padding: 8px;
        background-color: $lightblue;
        color: $white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }

    &__button--flat-red {
        width: 100px;
        max-height: 50px;
        padding: 4px;
        background-color: $white;
        color: $red;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 4px;

        &:hover {
            background-color: $yellowWhite;
        }
    }

    &__button--flat-blue {
        width: 100px;
        max-height: 50px;
        padding: 4px;
        background-color: $blue;
        color: $white;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        
        &:hover {
            color: $yellowWhite;
        }
    }
}