$blue: #014C89;
$yellow: #f5df4e;
$yellowWhite: #f1ede9;
$gray: #949398;
$gray2: #dedde0;
$gray3: #f2f0f5;
$red: #902740;
$lightblue: #019db1;
$white: #ffffff;
$black: #000000;

$grayWithOpacity: rgba(#949398, 0.35);

$label-font-size: 12px;

$bold: 700;
$semi-bold: 500;