<div class="main-view__container">
    <div class="main-view__container-header">
        <div class="main-view__container-header--description">Description</div>
        <div class="main-view__container-header--amount">Amount</div>
        <div class="main-view__container-header--unit">Unit</div>
        <div class="main-view__container-header--energy">Energy (kcal)</div>
    </div>
</div>
<div class="main-view__summary-graph"> 
    <div class="main-view__summary-graph-header">
        <div class="main-view__container-header--description">Energy summary</div>
    </div>
</div>
<div class="main-view__energy-graph">
    <div class="main-view__energy-graph-header">
        <div class="main-view__container-header--description">Energy History (kcal)</div>
    </div>
</div>
<div class="main-view__weight-graph">
    <div class="main-view__weight-graph-header">
        <div class="main-view__container-header--description">Weight Change 0.0 kg</div>
    </div>
</div>
