.settings__item {
    border: 1px solid gray;
    margin: 8px;
    padding: 8px;
    border-radius: 6px;

    &--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.settings__item-element {
    margin: 8px 0;
    display: flex;
}

:host {
    ::ng-deep .mat-select {
        margin-left: 10px;
        width: 100px;
    }

    .mat-select--large {
        width: 270px;
    }

    h1 {
        grid-column: 1/2;
    }

    h3 {
        width: 200px;
    }
}