<section class="settings-container">
    <form [formGroup]="form" autocomplete="off">
        <article class="settings__item">
            <h1>Profil</h1>
            <div class="settings__item--grid">
                <div class="settings__item-element">
                    <h3>Płeć: </h3> 
                    <mat-select formControlName="gender">
                        <mat-option value="option1">Kobieta</mat-option>
                        <mat-option value="option2">Mężczyzna</mat-option>
                    </mat-select>
                </div>
                <div class="settings__item-element">
                    <h3>Dzień urodzenia: </h3>
                    <mat-select formControlName="birth">
                        <mat-option *ngFor="let day of daysList" [value]="day">{{day}}</mat-option>
                    </mat-select>
                    <mat-select>
                        <mat-option *ngFor="let month of monthsList" [value]="month">{{month}}</mat-option>
                    </mat-select>
                    <input matInput>
                </div>
                <div class="settings__item-element">
                    <h3>Wzrost</h3>
                    <input matInput formControlName="height">
                </div>
                <div class="settings__item-element">
                    <h3>Waga</h3>
                    <input matInput formControlName="weight">
                </div>
                <div class="settings__item-element">
                    <h3>Poziom tkanki tłuszczowej</h3>
                    <input matInput formControlName="fatLevel">
                </div>
                <div class="d-flex settings__item-element">
                    <h3>BMI</h3>
                    <p>{{BMI}}</p>
                </div>
            </div>
        </article>
        <article class="settings__item">
            <h1>Spalona energia</h1>
            <div class="settings__item--grid">
                <div class="d-flex settings__item-element">
                    <h3>BMR</h3>
                    <p>{{BMRCalc()}} kcal</p>
                </div>
                <div class="d-flex settings__item-element">
                    <h3>Poziom aktywności</h3> 
                    <mat-select class="mat-select--large" formControlName="activityLevel">
                        <mat-option *ngFor="let activity of activitiesList" [value]="activity">{{activity}}</mat-option>
                    </mat-select>
                    <p>123 kcal</p>
                </div>
            </div>
            <p>Całkowite spalanie energii (TDEE) = 2709 kcal + Ćwiczenia</p>
        </article>
        <article class="settings__item">
            <h1>Cel wagowy do osiągnięcia</h1>
            <div class="settings__item--grid">
                <p>Docelowa waga</p> <input matInput formControlName="weightGoal">
                <p>Tempo spadku wagi</p> <input matInput formControlName="weightLoseTempo">
                <p>Data osiągnięcia wagi</p> <input matInput formControlName="weightGoalDate">
                <p>Dzienny deficyt energetyczny: 374 kcal</p> <input matInput formControlName="dailyDeficit">
            </div>
        </article>
    </form>
    <app-button [label]="'Save'" [color]="'lightblue'" (click)="save()"></app-button>
</section>