@import "../../common/const.scss";

.footer{
    width: 100%;
    height: 70px;
    background-color: $base-blue;
    color:$base-text;
    position: absolute;
    bottom: 0;
    text-align: center;
    
    & p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }
}