@import "../../../../assets/scss/constants.scss";


.footer-container {
    flex-shrink: 0;
    margin-top: 20px;

    &__footer-content {
        width: 100%;
        height: 70px;
        background-color: $blue;
        color:$white;
    }
}