@import "../../../../assets/scss/constants.scss";


.footer-container {
    align-self: flex-end;
    &__footer-content {
        width: 100%;
        height: 70px;
        background-color: $blue;
        color:$white;
    }
}