<section>
  <app-button *ngIf="!isScanningOpen" [label]="'Zeskanuj produkt'" [color]="'lightblue'" (click)="openScan()"></app-button>
  <app-button *ngIf="isScanningOpen" [label]="'Zakończ skanowanie'" [color]="'lightblue'" (click)="openScan()"></app-button>
  <div>
    <barcode-scanner-livestream
    type="ean"
    (valueChanges)="onValueChanges($event)"
    (started)="(onStarted)"
    ></barcode-scanner-livestream>
    <div [hidden]="!barcodeValue">
      {{ barcodeValue }}
    </div>
  </div>
</section>
