<article class="label-wrapper">
  <p class="label-wrapper__header">{{selectedProduct.name}}</p>
  <div class="label-wrapper__details">
      <div class="details__header-wrapper">
          <p class="details__header col-12">Wartości odżywcze</p>
          <div class="col-6 details__divider"></div>
          <span class="col-6 details__sub-text--center">Per 100g</span>
      </div>
      <div class="col-12 details__item-wrapper">
          <div class="col-6 details__item-header">Wartość energetyczna</div>
          <div class="col-6 details__sub-text--right">{{selectedProduct.energy}} kcal</div>
      </div>
      <div class="col-12 details__item-wrapper">
          <div class="col-6 details__item-header">Tłuszcz</div>
          <div class="col-6 details__sub-text--right">{{selectedProduct.fat}} g</div>
          <div class="col-8 details__sub-text--with-margin">w tym kwasy tłuszczowe nasycone</div>
          <div class="col-4 details__sub-text--right">{{selectedProduct.saturatedFat}} g</div>
          <div class="col-8 details__sub-text--with-margin">w tym jednonienasycone</div>
          <div class="col-4 details__sub-text--right">{{selectedProduct.monounsaturatedFat}} g</div>
          <div class="col-8 details__sub-text--with-margin">w tym wielonienasycone</div>
          <div class="col-4 details__sub-text--right">{{selectedProduct.polyunsaturatedFat}} g</div>
      </div>
      <div class="col-12 details__item-wrapper">
          <div class="col-6 details__item-header">Węglowodany</div>
          <div class="col-6 details__sub-text--right">{{selectedProduct.carbohydrate}} g</div>
          <div class="col-8 details__sub-text--with-margin">w tym cukry</div>
          <div class="col-4 details__sub-text--right">{{selectedProduct.sugars}} g</div>
          <div class="col-6 details__item-header">Błonnik</div>
          <div class="col-6 details__sub-text--right">{{selectedProduct.fiber}} g</div>
      </div>
      <div class="col-12 details__item-wrapper">
          <div class="col-6 details__item-header">Białko</div>
          <div class="col-6 details__sub-text--right">{{selectedProduct.protein}} g</div>
          <div class="col-8 details__sub-text--with-margin">w tym pochodzenia zwierzęcego</div>
          <div class="col-4 details__sub-text--right">{{selectedProduct.animalProtein}} g</div>
          <div class="col-8 details__sub-text--with-margin">w tym pochodzenia roślinnego</div>
          <div class="col-4 details__sub-text--right">{{selectedProduct.vegetableProtein}} g</div>
      </div>
      <div class="col-12 details__item-wrapper">
          <div class="col-6 details__item-header">Cholesterol</div>
          <div class="col-6 details__sub-text--right">{{selectedProduct.cholesterol}} g</div>
      </div>
  </div>
</article>