<nav class="nav">
    <div>
        Fit-app
    </div>
    <article class="nav__routes-container">
        <app-button (click)="redirect('diary')" [label]="'Dziennik'" [color]="'flat-blue'"></app-button>
        <app-button (click)="redirect('products')" [label]="'Produkty'" [color]="'flat-blue'"></app-button>
        <app-button (click)="redirect('settings')" [label]="'Ustawienia'" [color]="'flat-blue'"></app-button>
        <app-button (click)="redirect('help')" [label]="'Pomoc'" [color]="'flat-blue'"></app-button>
        <app-auth-button></app-auth-button>
    </article>
</nav>
